/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   font-family: sans-serif;
 }

 .topNav {
   display: flex;
   justify-content: space-between;
   background-color: rgb(25, 58, 70);
   padding: 32px;
 }

  .topNav a {
    color: white;
    text-decoration: none;
  }

main {
  width: 80vw;
  margin: 0 auto;
}
  /*.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }*/
  .questions_indexList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    @media (min-width: 768px) {
      .questions_indexList {
        width: 70vw;
        margin: 0 auto;
      }
    }
    .questions_listItem {
      padding: 10px 20px;
      border-bottom: solid 1px #000;
      display: flex;
    }

      .question_title {
        text-decoration: none;
        display: inline-block;
        width: 30%;
      }

      .question_title:visited {
        color: blue;
      }

      .question_content {
        display: inline-block;
        width: 60%;
      }

      .question_actions {
        display: inline-flex;
        justify-content: space-around;
        width: 10%; 
      }
        .action_link {
          display: flex;
          align-items:center;
          color:black;
          padding: 0 5px;
        }

        .action_link:visited {
          color: black;
        }

        .action_link.disabled {
          color: gray;
        }
