<!DOCTYPE html>
<html>
<head>
  <title>SOClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="topNav">
      <div class="logo">
        <a href="#">Stack Overflow Clone</a>
      </div>
      <div class="links">
        <a href="#">Sign Up</a>
        <a href="#">Log In</a>
      </div>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>

</body>
</html>
